h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  line-height: 1;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  /* border: 1px; */
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

ul {
  /* display: block; */
  list-style-type: none;

}

li {
  /* display: block; */
  list-style-type: none;
  padding: 10px;
}

.currentCityWeather{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;  
}

.currentWeather{
  display: flex;
}

#myCanvas{
  display: flex;
}

li[id^="Day"]{
  /* display: block; */
  font-size: 14px;
  list-style-type: none;
  margin: 10px 20px 10px 20px;
  padding: 0;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}
.city-btn {
  border-radius: 15px;
  background-color: gray;
  color: white;
  margin: 10px;
}



.btn {
  border-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.btn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
